* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ===========COLOR============ */
:root {
  --background-app : #fff;
  --color-border:rgba(128, 128, 128, 0.567);
  --background-red : rgb(240, 1, 1);
  --color-font:#000000da;
  --color-font-text:#4c4c4c;
  --color-font-sidebar:#fff;
  --background-gray1:rgba(81, 87, 86, 0.075);
  --background-gray2:rgba(81, 87, 86, 0.116);
  --background-gray3:rgba(103, 122, 123, 0.297);
  --background-blue:rgba(0, 255, 242, 0.186);
  --background-icon :  rgba(220, 220, 220, 0.601);
  --color-icon :  rgba(65, 64, 64, 0.874);
  --background-range : rgba(186, 128, 248, 0.707);
  --background-nav:rgba(128, 128, 128, 0.108);
  --background-pagination : rgba(128, 128, 128, 0.755);
--background-chart:rgba(234, 229, 229, 0.504);
--color-title-table : rgba(105, 103, 103, 0.618);
--color-search:rgba(125, 124, 124, 0.552);
--color-text-tbody-table:#000;
--color-text-thead-table:#444343c7;
--background-fill-chart:  rgba(89, 88, 88, 0) ;

}

body.dark {
  --background-app : #000;
  --color-border:rgba(178, 176, 176, 0.502);
  --background-red : rgb(206, 4, 4);
  --color-font:#ffffffe0;
  --color-font-sidebar:#eae7e7;
  --background-gray1:rgba(81, 87, 86, 0.266);
  --background-gray2:rgba(81, 87, 86, 0.363);
  --background-gray3:rgba(103, 122, 123, 0.566);
  --background-blue:rgba(0, 255, 242, 0.157);
  --color-icon:rgb(210, 210, 210);
  --background-range : rgba(163, 82, 250, 0.331);
  --background-nav:rgba(197, 197, 197, 0.118);
  --background-pagination : rgba(128, 128, 128, 0.7);
  --background-chart:rgba(122, 120, 120, 0.129);
  --color-title-table : rgba(184, 184, 184, 0.618);
  --color-search:rgba(232, 229, 229, 0.79);
  --color-text-tbody-table:#d7d1d1c1;
  --color-text-thead-table:#c5c5c5;
  --background-fill-chart:  rgba(89, 88, 88, 0.266) ;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100%;
  background-color: var(--background-app);
  /* color: var(--color-font); */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey; 
  /* border-radius: 5px; */
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(192, 47, 47, 0.861); 
  /* border-radius: 5px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--color-font);
}

/* ===========Sidebar=========== */
.main-container {
  position: relative;
  display: flex;
}
.sidebar {
  background: var(--background-app);
  height: 100vh;
  border-right: 1px solid gray;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  color:var(--color-font);
}
.top_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
}
.logo {
  line-height: 0;
  height: 80px;
}
.logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.bars {
  width: 30px;
}
.hide {
  display: none;
}
.footer-sideBar {
  gap: 10px;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}
@media (max-width:700px) {
  .footer-sideBar {
    bottom: 40px;
  }
}
.routes {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.link {
  display: flex;
  border: 2px solid transparent;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover {
  background: var(--background-red) ;
  color: var(--color-font-sidebar);
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-radius: 8px;
}
.active {
  background: var(--background-red);
  color:  var(--color-font-sidebar);
  border-radius: 8px;
}
.link_text {
  white-space: nowrap;
  font-size: 13px;
}
/* ===========Navbar=========== */
.navbar {
  border-bottom: 1px solid var(--color-border);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 5px;
}
.left_navbar {
  width: 250px;
}
.right_navbar {
  width: 380px;
}
@media (max-width: 863px) {
  .navbar {
    padding: 10px 5px;
    gap: 8px 0;
  }
  .right_navbar {
    width: 100%;
    position: relative;
  }
  .nav_right_icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 620px) {
  .navbar {
    padding: 10px 0px;
    gap: 8px 0;
  }
}

.parent_search {
  border: 1px solid var(--color-search);
  display: flex;
  align-items: center;
  width: 200px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
}
.parent_search .search {
  border: none;
  position: relative;
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 100%;
}

.parent_search .icon_search {
  font-size: 20px;
  color: var(--color-search);
}

@media (max-width: 500px) {
  .parent_search {
    width: 130px;
  }
}

/* ===========page condidats=========== */
.nav_top_table {
  background-color: var(--background-nav);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.left_nav {
  width: 180px;
}
.right_nav {
  width: 200px;
}
@media (max-width: 650px) {
  .left_nav {
    width: 100%;
  }
  .right_nav {
    width: 100%;
  }
  .w-100-search {
    width: 100%;
  }
}
.button_dots {
  background-color: transparent;
  color: var(--color-font);
  box-shadow: none;
}


/* ===========main page=========== */
main {
  width: 100%;
  transition: 0.3s;
}


